<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/ChenCSE248Lecture12 MVC Part 2/src/p2_GUI/Demo.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="p2_GUI.Demo"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="ChenCSE248Lecture12 MVC Part 2"/>
</launchConfiguration>
